#!/usr/bin/env bash

openshift-install create manifests --dir $HOME/{{ cluster_name }}

#sed -i "s/mastersSchedulable: true/mastersSchedulable: false/g" $HOME/{{ cluster_name }}/manifests/cluster-scheduler-02-config.yml

#openshift-install create single-node-ignition-config --dir $HOME/{{ cluster_name }}i
openshift-install --dir={{ cluster_name }} create ignition-configs
